* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
}

body {
    background-color: #eee;
    font-size: 20px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

img {
    width: 100%;
}

input, select {
    padding: 10px;
    min-width: 200px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 10px rgba(7,7,7, .2);
    text-align: center;
    outline-color: gray;
    text-transform: capitalize;
    appearance: none;
    font-size: 1rem;
}

select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.card {
    box-shadow: 1px 2px 10px rgba(7,7,7, .2);
    cursor: pointer;
    transition: transform .1s;
    max-width: 320px;

}

.card:hover {
    transform: scale(1.025);
}

.card p {
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
}

.error {
    background-color: pink;
    font-size: 1rem;
    color: #666;
    padding: 10px;
    border-radius: 3px;
    /* font-weight: bold; */
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    /* align-content: center; */
    display: flex;
    text-align: center;
}

.error span {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.bounce {
    animation: bounce 1s;
}

@keyframes bounce {
    0% {
        transform:translateY(-100%);
        opacity: 0;
    }

    5% {
        transform:translateY(-100%);
        opacity: 0;
    }

    15% {
        transform:translateY(0);
        padding-bottom: 5px;
    }

    30% {
        transform:translateY(-50%);
    }

    100% {
      transform:translateY(0);
      padding-bottom: 9px;
      opacity: 1;
    }
   
}