.container{
  margin: auto;
  width: 50%;
  border: 1px solid rgb(241, 172, 172);
  background-color: azure;
  padding: 10px;
}

.add-btn {
  float: right;
  background-color: rgb(224, 150, 150);
  color: aliceblue;
  border-radius: 12px
}

.caja {
  text-align: right;
}

