.button{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: blue;
    letter-spacing: 4px;
    font-size: 14px;
    text-decoration: none;
    overflow: hidden;
    transition: 2.0s;
    
}

.button:hover{
    background: aquamarine;
    box-shadow: 0 0 10px aquamarine, 0 0 40px aquamarine, 0 0 80px aquamarine;
}

.button1{
    text-align: center;

    
}