.TodoItem{
    color: blueviolet;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 20vh;
    margin: 1%;
    border-radius: 20%;
    

}

.items{
    column-count: 3;
    text-align: right;
    column-fill:auto ;
}


